

body {
  margin: 0;
  font-family: 'Press Start 2P';
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: 'Press Start 2P';
} */

.header{
  position: absolute;
  width: 600px;
  height: 100px;
  left: calc(50% - 600px/2);
  /* top: 19px; */
  font-family: 'Press Start 2P';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 20px;
  /* line-height: 60px; */
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

.main-container{
  position: absolute;
  width: 600px;
  height: 700px;
  left: calc(50% - 600px/2);
  top: 80px;
  background: #D9D9D9;
}

.top-hud{
  position: absolute;
  width: 550px;
  height: 60px;
  left: calc(50% - 550px/2);
  top: 25px;
  background: #4FC9C2;
}

.play-field{
  position: absolute;
  width: 550px;
  height: 500px;
  left: calc(50% - 550px/2);
  top: 100px;
  background: #A22020;
  border-radius: 20px;
  align-items: center;
  text-align: center;
}

/* bottom hud */

.bottom-hud{
  position: absolute;
  width: 550px;
  height: 60px;
  left: calc(50% - 550px/2);
  top: 615px;
  background: #4FC9C2;
}

.loginsignupbtn{
  left: calc(50% - 125px/2);
  background: #D9D9D9;
}

button {
  position: absolute;
  width: 125px;
  height: 40px;
  background: #D9D9D9;
  font-family: 'Press Start 2P';
  cursor: pointer
  /* margin: 10px; */
}

@keyframes bgcolor {
  0% {background-color: red}
  16.6% {background-color: green}
  33.3% {background-color: orange}
  50% {background-color: blue}
  66.6% {background-color: yellow}
  83.3% {background-color: purple}
  100% {background-color: red}
}

@keyframes noanimate {
  0% {background-color: #D9D9D9}
  100% {background-color: #D9D9D9}
}

button:hover {
  animation: bgcolor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

button:active {
  background: black;
}

.home-body {
  align-items: center;
  text-align: center;
}

.home-body button {
  left: calc(50% - 125px/2);
}

input{
  width: 300px;
  height: 30px;
  font-family: 'Press Start 2P';
  background: #D9D9D9;
}

.signup-login h3{
  font-size: 75%;
}

.scorelist{
  align-items: center;
  text-align: left;
  margin-left: 60px;
}

.button1{
  left: 10px;
  top: 10px;
}

.button2{
  left: 145px;
  top: 10px;
}

.button3{
  left: 280px;
  top: 10px;
}

.button4{
  left: 415px;
  top: 10px;
}

#empty:hover {
  animation: noanimate;
  cursor: default;
}

.item-store {
  margin: 20px 0px 0px 60px;
  height: 30px;
  align-items: left;
  text-align: left;
  font-size: 15px;
}

.storebutton {
  position: relative;
  width: 130px;
  height: 20px;
  font-size: 12px;
  vertical-align: 35%;
}

#empty-smallprint {
  font-size: 8px;
  animation: noanimate;
  cursor: default;
}

#hole1{
  position: absolute;
  left: calc(25% - 100px/2);
  top: calc(75% - 100px/2);
}

#hole2{
  position: absolute;
  left: calc(50% - 100px/2);
  top: calc(75% - 100px/2);
}

#hole3{
  position: absolute;
  left: calc(75% - 100px/2);
  top: calc(75% - 100px/2);
}

#hole4{
  position: absolute;
  left: calc(25% - 100px/2);
  top: calc(50% - 100px/2);
}

#hole5{
  position: absolute;
  left: calc(50% - 100px/2);
  top: calc(50% - 100px/2);
}

#hole6{
  position: absolute;
  left: calc(75% - 100px/2);
  top: calc(50% - 100px/2);
}

#hole7{
  position: absolute;
  left: calc(25% - 100px/2);
  top: calc(25% - 100px/2);
}

#hole8{
  position: absolute;
  left: calc(50% - 100px/2);
  top: calc(25% - 100px/2);
}

#hole9{
  position: absolute;
  left: calc(75% - 100px/2);
  top: calc(25% - 100px/2);
}

.hole{
  width: 100px;
  height: 100px;
  background: #D9D9D9;
  border-radius: 50px;
  outline: ridge black 10px;
  font-size: 20px;
}

.hole:hover{
  animation: bgcolor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.settings-p {
  position: absolute;
  width: 500px;
  left: calc(50% - 500px/2);
}

/* .hole-content{
  position: absolute;
  left: calc(50% - 100px/2);
  top: calc(50% - 100px/2);
} */