

body {
  margin: 0;
  font-family: 'Press Start 2P';
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: 'Press Start 2P';
} */

.header{
  position: absolute;
  width: 600px;
  height: 100px;
  left: calc(50% - 600px/2);
  /* top: 19px; */
  font-family: 'Press Start 2P';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 20px;
  /* line-height: 60px; */
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

.main-container{
  position: absolute;
  width: 600px;
  height: 700px;
  left: calc(50% - 600px/2);
  top: 80px;
  background: #D9D9D9;
}

.top-hud{
  position: absolute;
  width: 550px;
  height: 60px;
  left: calc(50% - 550px/2);
  top: 25px;
  background: #4FC9C2;
}

.play-field{
  position: absolute;
  width: 550px;
  height: 500px;
  left: calc(50% - 550px/2);
  top: 100px;
  background: #A22020;
  border-radius: 20px;
  align-items: center;
  text-align: center;
}

/* bottom hud */

.bottom-hud{
  position: absolute;
  width: 550px;
  height: 60px;
  left: calc(50% - 550px/2);
  top: 615px;
  background: #4FC9C2;
}

.loginsignupbtn{
  left: calc(50% - 125px/2);
  background: #D9D9D9;
}

button {
  position: absolute;
  width: 125px;
  height: 40px;
  background: #D9D9D9;
  font-family: 'Press Start 2P';
  cursor: pointer
  /* margin: 10px; */
}

@keyframes bgcolor {
  0% {background-color: red}
  16.6% {background-color: green}
  33.3% {background-color: orange}
  50% {background-color: blue}
  66.6% {background-color: yellow}
  83.3% {background-color: purple}
  100% {background-color: red}
}

button:hover {
  animation: bgcolor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

button:active {
  background: black;
}

.home-body {
  align-items: center;
  text-align: center;
}

.home-body button {
  left: calc(50% - 125px/2);
}

input{
  width: 300px;
  height: 30px;
  font-family: 'Press Start 2P';
  background: #D9D9D9;
}

.signup-login h3{
  font-size: 75%;
}



/* password box */


position: absolute;
width: 350px;
height: 50px;
left: 545px;
top: 433px;

background: #D9D9D9;


/* password box 2 */


position: absolute;
width: 350px;
height: 50px;
left: 545px;
top: 496px;

background: #D9D9D9;


/* email box */


position: absolute;
width: 350px;
height: 50px;
left: 545px;
top: 370px;

background: #D9D9D9;


/* score box */


position: absolute;
width: 150px;
height: 50px;
left: 380px;
top: 162px;

background: #D9D9D9;


/* score text */


position: absolute;
width: 150px;
height: 50px;
left: 380px;
top: 162px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* coins box */


position: absolute;
width: 150px;
height: 50px;
left: 556px;
top: 162px;

background: #D9D9D9;


/* coins text */


position: absolute;
width: 150px;
height: 50px;
left: 555px;
top: 162px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* health box */


position: absolute;
width: 150px;
height: 50px;
left: 733px;
top: 162px;

background: #D9D9D9;


/* health text */


position: absolute;
width: 150px;
height: 50px;
left: 731px;
top: 162px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* time box */


position: absolute;
width: 150px;
height: 50px;
left: 910px;
top: 162px;

background: #D9D9D9;


/* time text */


position: absolute;
width: 150px;
height: 50px;
left: 910px;
top: 162px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;





/* stats box */


position: absolute;
width: 150px;
height: 50px;
left: 380px;
top: 812px;

background: #D9D9D9;


/* stats text */


position: absolute;
width: 150px;
height: 50px;
left: 380px;
top: 812px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* item 1 box */


position: absolute;
width: 150px;
height: 50px;
left: 555px;
top: 812px;

background: #D9D9D9;


/* item 1 text */


position: absolute;
width: 150px;
height: 50px;
left: 556px;
top: 812px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* item 2 box */


position: absolute;
width: 150px;
height: 50px;
left: 733px;
top: 812px;

background: #D9D9D9;


/* item 2 text */


position: absolute;
width: 150px;
height: 50px;
left: 733px;
top: 812px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* max health box */


position: absolute;
width: 150px;
height: 50px;
left: 910px;
top: 812px;

background: #D9D9D9;


/* max health text */


position: absolute;
width: 150px;
height: 50px;
left: 908px;
top: 812px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
